@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Space Grotesk, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}

#hero {
  background: linear-gradient(to bottom, #fff 50%, #9e88d648 100%),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

html[class~='dark'] #hero {
  background: linear-gradient(to bottom, #111 50%, #2a2044af 100%),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

.gradient-bg {
  background: linear-gradient(#a788ec, #8066b7);
}

.gradient-text {
  background: linear-gradient(#efa0a5, #a788ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 3.5px #c0beea8f);
}

html[class~='dark'] .gradient-text {
  filter: drop-shadow(0px 3.5px #54527b9f);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.animate-once {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.svg {
  width: 100%;
  height: 100%;
}

.fix-safari-tilt {
  -webkit-transform: translateZ(0);
}

.fix-safari-blur {
  transform: translate3d(0, 0, 0);
}