node_modules
dist
website/pages/docs/compiler.mdx
website/pages/docs/install.mdx
website/pages/docs/quickstart.mdx
website/pages/docs/rules.mdx
website/pages/docs/automatic.mdx
website/pages/blog/*.mdx