.memory__container{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
  }
  
  .memory__card{
    height: 150px;
    width: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    animation: 2s hideCard linear;
    transition: transform 0.5s;
  }
  
  @keyframes hideCard{
    0%, 70%{
      transform: rotateY(0);
    }
    100%{
      transform: rotateY(180deg);
    }
  }
  .memory__card img{
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s;
    transform: scale(0);
    animation: 2s hideImage linear;
  }
  @keyframes hideImage{
    0%, 70%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
  
  .memory__card.active{
    transform: rotateY(0);
  }
  .memory__card.correct{
    background-color: #65e469;
  }
  .memory__card.wrong{
    background-color: #fd245a;
  }
  .memory__card.active img{
    transform: scale(1);
  }
  .memory__details{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .memory__details_result{
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .memory__hscore{
    color: rgb(244, 56, 56);
  }