
.navbar {
    background-color: #333; 
  }
  
  .navbar-brand {
    font-size: 24px; 
    transition: color 0.3s; 
    color: white !important; 
  }
  
  .navbar-toggler-icon {
    color: white !important; 
  }
  
  .navbar-nav .nav-item .nav-link {
    font-size: 18px; 
    color: white !important; 
    transition: color 0.3s; 
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ffca28 !important; 
  }
  
  
  .nav-underline {
    height: 2px; 
    background-color: #ffca28; 
    width: 100%;
    animation: grow 0.2s ease;
  }
  
  @keyframes grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  

  