/* App.css */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
  margin-top: 4rem;
}
/* title */

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
=============== 
Wikipedia 
===============
*/
.wiki {
  padding: 5rem 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.container {
  text-align: center;
}
.container img {
  width: 200px;
}
.container h3 {
  margin-bottom: 2rem;
}

.form {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: var(--borderRadius);
  display: grid;
  grid-template-columns: auto 100px;
}
.form-input,
.submit-btn {
  padding: 0.375rem 0.75rem;
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}
.form-input {
  border-right: transparent;
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}
.submit-btn {
  border: 1px solid var(--primary-500);
  border-left: transparent;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  text-transform: capitalize;
  background: var(--primary-500);
  color: var(--white);
  transition: var(--transition);
  cursor: pointer;
}
.submit-btn:hover {
  color: var(--primary-900);
}

.results {
  padding: 2rem 0;
}

.error {
  text-align: center;
  text-transform: capitalize;
  color: var(--red-dark);
}

.articles {
  display: grid;
  gap: 1rem;
}

.articles a {
  display: block;
  background: var(--white);
  color: var(--textColor);
  padding: 1.5rem 2rem;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}
.articles p {
  color: var(--grey-500);
  transition: var(--transition);
}

.articles a:hover {
  background: var(--black);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
  .form {
    max-width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
