:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid #56c7ff;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  opacity: 0.2 !important;
  cursor: not-allowed !important;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* Required styling for carousel */
.carousel {
  display: flex;
  overflow: hidden;
}

.carousel img {
  width: 75%;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.carousel-inner {
  display: flex;
  width: 75%;
  height: auto;
  margin: 0 10px 20px 0;
  transition: transform 0.3s ease-in-out;
}

/* Music player styles */
.body {
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 107, 128, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  text-align: center;
}

.music-card {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(105, 20, 128, 1)
  );
  width: 50%;
  color: #fff;
  margin: 1.4em 0;
  max-width: 600px;
  padding: 1em 2em;
  border: 0.1px solid black;
  border-radius: 10px;
}

.musicCover {
  max-width: 100%;
  border-radius: 10%;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.subTitle {
  margin-top: -1em;
  color: #d3c5c5;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
}

.timeline {
  width: 80%;
  background-color: #27ae60;
}

input[type='range'] {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}

/*  */

/* QR code styles */
.qr-code-wrapper {
  display: inline-flex;
  background: white;
  margin-top: 2rem;
  padding: 1rem;
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.04);
  }
  &:focus {
    transform: scale(1.04);
  }
  .news-container {
    justify-content: center;
    align-items: center;
  }
  .image-container {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: 1000px;
    }
  }

  .content {
    padding: 0 16px;

    .title {
      font-size: 1.25rem;
      font-weight: 800;
      margin-bottom: 8px;
      color: black;
    }

    .description {
      font-size: 1rem;
      color: #333;
      margin-bottom: 12px;
    }

    .source {
      font-size: 0.875rem;
      color: #777;
      margin-bottom: 4px;
    }

    .published-at {
      font-size: 0.875rem;
      color: #777;
      margin-bottom: 12px;
    }

    .read-more {
      font-size: 1rem;
      text-decoration: none;
      color: #007bff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/**********  PASSWORD GENERATOR  **********/
.password_generator {
  width: 80%;
  margin: 2em auto;
}

.password_generator_top_section {
  display: flex;
  gap: 1.5em;
}

.password_generator_output_container {
  display: flex;
  border-radius: 10px;
  background: #353535;
  border: 1px solid #dddddd;
  align-items: center;
  padding-right: 20px;
  flex: 5;
}

.password_generator_output_container input {
  padding: 14px;
  width: 100%;
  outline: none;
  line-height: 30px;
  caret-color: #1c1c1c;
  background-color: transparent;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

.password_generator_output_container .right-icon {
  font-size: 25px;
  cursor: pointer;
  border: none;
}

.password_generator_refresh_password {
  flex: 0.5;
}

.password_generator_tooltip-container {
  position: relative;
}

.password_generator_tooltip-text {
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 90%;
  font-size: 12px;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.password_generator_tooltip-text.visible {
  opacity: 1;
}

.password_generator_customizable_options {
}

.password_generator_customizable_options__length {
  display: flex;
  align-items: center;
}

.password_generator_customizable_options__checkbox {
  position: relative;
  /* border: 1px solid themed("primary"); */
  border-radius: 4px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 18px;
  width: 18px;
  opacity: 0.5;
  transition: all 200ms ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:checked {
    /* background-color: themed("primary"); */
    opacity: 1;
    border: none;
  }
}
.container {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  border: 10px solid white;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.sketch-button {
  font-size: 1.4rem;
  border-radius: 10px;
  background: linear-gradient(green, royalblue);
}
.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.game-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  .restart {
    background-color: #007bff;
    padding: 20px;
    font-size: 1.4rem;
  }
  .box1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    & button {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
      border-radius: 10px;
      background-color: royalblue;
    }
    button:active {
      transition: 1s;
      transform: scale(0.8);
      background-color: royalblue;
    }
  }
  .box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 1.8em;
    text-align: center;
    align-items: center;
    & .box {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      border: 2px solid black;
      padding: 10px;
    }
  }

  .output1 {
    font-size: 1.1rem;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
  .output {
    font-size: 1.4rem;
    margin: auto;
    text-align: center;
    font-weight: 700;
  }
}
