

.landing-page {
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
}





#section3 {

  background-image: url('https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg');
  
}



 #section4 {
  background-image: url('https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg');
}  

