
.login-container {
    background: url('https://i.ibb.co/zGJ1TFC/download-3.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 25px 20px 20px gainsboro;
    padding: 20px;
  }
  