
.navbar2 {
  background-color: #333;
  border: 2px solid orange !important;
  border-bottom: none; 
  border-radius: 0; 
  margin-bottom: 0; 
}
.navbar2-brand {
  font-size: 24px; 
  transition: color 0.3s; 
  color: white !important; 
}

.navbar2-toggler-icon {
  color: white !important; 
}

.navbar2-nav .nav-item .nav-link {
  font-size: 18px; 
  color: white !important; 
  transition: color 0.3s; 
}

.navbar2-nav .nav-item .nav-link:hover {
  color: #ffca28 !important; 
}


.nav-underline {
  height: 2px; 
  background-color: #ffca28; 
  width: 100%;
  animation: grow 0.2s ease;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

