
.section3{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section3 {
    background-image: url('https://i.ibb.co/tb6N51B/Wallpaper-Sunset-sea-waves-water-sun-backdrop-Wallpapers-Download.jpg');
    /* max-height: 100vh; */
    background-size: cover;
  
  }

  