@import url(@picocss/pico/css/pico.classless.min.css);

[data-theme='light'],
:root:not([data-theme='dark']) {
  --form-element-spacing-vertical: 0.25rem;
  --primary: #000;
  --primary-hover: rgba(0, 0, 0, 0.8);
  --primary-focus: rgba(0, 0, 0, 0.1);
  --primary-inverse: #fff;
}

details {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
